<div class="hidden h-full 2xl:flex flex-col relative">
	<app-header [headerTitle]="(currentPageTitle$ | async) ?? undefined">
		<app-notes-search-input header-input />
	</app-header>

	<section class="h-full flex">
		<div
			class="min-w-[290px] w-[290px] h-full relative max-h-[875px] overflow-y-auto overflow-x-clip">
			<app-sidebar-notes
				[notes$]="notesToDisplayByRoute$"
				[errorState$]="notesDisplayErrorState$" />

			<div
				class="divider divider-horizontal absolute w-[1px] h-full m-0 ring-0 right-0 top-0"></div>
		</div>

		<!-- </main> -->
		<app-note-details-display class="w-full" [selectedNote$]="selectedNote$" />

		<ng-container *ngIf="selectedNote$ | async; else emptySelectedNote">
			<app-sidebar-actions />
		</ng-container>

		<ng-template #emptySelectedNote>
			<div class="relative min-w-[258px] min-h-full">
				<div
					class="divider divider-horizontal m-0 p-0 absolute top-0 left-0 w-[1px] h-full"></div>
			</div>
		</ng-template>
	</section>
</div>
