<div
	class="join text-base-content w-full flex justify-between rounded-none border-b border-neutral">
	<button (click)="goBack()" class="btn btn-md btn-ghost flex-grow join-item">
		<app-icon-left-arrow />
		Go Back
	</button>

	<div class="flex">
		<button class="btn btn-md btn-ghost px-3 join-item hover:text-error">
			<app-icon-delete width="18px" height="18px" />
		</button>
		<button class="btn btn-md btn-ghost px-3 join-item">
			<app-icon-archive width="18px" height="18px" />
		</button>
		<button class="btn btn-md btn-ghost px-3 join-item">Cancel</button>
		<button class="btn btn-md btn-ghost px-3 join-item hover:text-primary">
			Save Note
		</button>
	</div>
</div>
