<div class="w-full h-full drawer 2xl:drawer-open">
	<input type="checkbox" class="drawer-toggle" />
	<div class="drawer-content min-h-screen">
		<!-- Page content here -->
		<ng-content />
	</div>
	<div class="drawer-side">
		<div class="bg-base-300 min-h-full w-72 p-4">
			<div class="pb-4">
				<app-icon-logo />
			</div>

			<ul class="menu menu-md rounded-box w-full p-0 text-base-content">
				<li>
					<button type="button" routerLinkActive="active" routerLink="/">
						<app-icon-home />
						All Notes
					</button>
				</li>
				<li>
					<button
						type="button"
						routerLinkActive="active"
						routerLink="/archived">
						<app-icon-archive />
						Archived Notes
					</button>
				</li>
			</ul>

			<div class="divider"></div>

			<ul class="menu rounded-box w-full p-0 text-base-content">
				<li class="menu-title">Tags</li>

				<ng-container *ngIf="tagCollection$ | async as tagCollection">
					<ng-container
						*ngFor="let tag of tagCollection; trackBy: trackByTagId">
						<li>
							<button
								[routerLink]="['/tags', tag.id]"
								[routerLinkActive]="'active'"
								[routerLinkActiveOptions]="{ exact: true }">
								<app-icon-tag width="20px" height="20px" />
								{{ tag.name }}
							</button>
						</li>
					</ng-container>
				</ng-container>
			</ul>
		</div>
	</div>
</div>
