<div class="btm-nav btm-nav-sm">
	<button
		[routerLink]="['/']"
		routerLinkActive="active text-primary"
		[routerLinkActiveOptions]="{ exact: true }">
		<app-icon-home />
		<span class="hidden md:block btm-nav-label">Home</span>
	</button>
	<button
		routerLink="/search"
		routerLinkActive="active text-primary"
		[routerLinkActiveOptions]="{ exact: true }">
		<app-icon-search width="20px" height="20px" />
		<span class="hidden md:block btm-nav-label">Search</span>
	</button>
	<button
		routerLink="/archived"
		routerLinkActive="active text-primary"
		[routerLinkActiveOptions]="{ exact: true }">
		<app-icon-archive />
		<span class="hidden md:block btm-nav-label">Archived</span>
	</button>
	<button
		routerLink="/tags"
		routerLinkActive="active text-primary"
		[routerLinkActiveOptions]="{ exact: true }">
		<app-icon-tag width="20px" height="20px" />
		<span class="hidden md:block btm-nav-label">Tags</span>
	</button>
	<button
		routerLink="/settings"
		routerLinkActive="active text-primary"
		[routerLinkActiveOptions]="{ exact: true }">
		<app-icon-settings width="20px" height="20px" />
		<span class="hidden md:block btm-nav-label">Settings</span>
	</button>
</div>
