<div class="h-full">
	<ul class="menu menu-vertical rounded-none w-full h-full px-0 2xl:py-0">
		<li class="hidden pb-4 2xl:block 2xl:p-4 2xl:pt-5">
			<button type="button" class="btn btn-block btn-primary">
				+ Create New Note
			</button>
		</li>

		<ng-container *ngIf="errorState$ | async as errorState">
			<ng-container *ngIf="!errorState.hasError; else notesHasError">
				<ng-container *ngIf="notes$ | async as notes">
					<li *ngFor="let note of notes; trackBy: trackByNoteId">
						<button
							type="button"
							[routerLink]="[]"
							[queryParams]="{
								note: note.id,
							}"
							(click)="emitSelectedNote.emit(note)">
							<div class="flex flex-col gap-3 relative">
								<span class="font-semibold">
									{{ note.title }}
								</span>

								<div *ngIf="note.tags.length > 0" class="flex flex-wrap gap-1">
									<ng-container *ngFor="let tag of note.tags">
										<div class="badge badge-neutral badge-md text-xs">
											{{ tag.name }}
										</div>
									</ng-container>
								</div>

								<span class="text-xs"> 29 Oct 2024 </span>
							</div>
						</button>
						<div class="divider h-[0px] m-0 py-0 pointer-events-none"></div>
					</li>
				</ng-container>
			</ng-container>

			<ng-template #notesHasError>
				<span
					class="z-10 bg-base-300 text-base-content rounded-lg mx-4 p-2 text-pretty">
					{{ errorState.errMessage }}
				</span>
			</ng-template>
		</ng-container>
	</ul>

	<div class="fixed bottom-[10%] right-4 2xl:hidden">
		<button
			type="button"
			class="btn btn-circle btn-primary"
			(click)="signOut()">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				fill="none"
				viewBox="0 0 24 24">
				<path
					fill="currentColor"
					d="M12 5a.75.75 0 0 1 .75.75V11H18a.75.75 0 0 1 0 1.5h-5.25v5.25a.75.75 0 0 1-1.5 0V12.5H6A.75.75 0 0 1 6 11h5.25V5.75A.75.75 0 0 1 12 5Z" />
			</svg>
		</button>
	</div>
</div>
