<ul class="menu menu-vertical rounded-none w-full h-full px-0">
	<ng-container *ngIf="tags$ | async as tags; else elseEmptyTags">
		<ng-container *ngFor="let tag of tags">
			<li>
				<button class="py-3" type="button" [routerLink]="['/tags', tag.id]">
					<app-icon-tag width="20px" height="20px" />
					{{ tag.name }}
				</button>
				<div class="divider h-[0px] m-0 py-0 px-2 pointer-events-none"></div>
			</li>
		</ng-container>
	</ng-container>

	<ng-template #elseEmptyTags>
		<span class="z-10 bg-base-300 text-base-content rounded-lg p-2 text-pretty">
			No tags available. Create a new note to organize your thoughts with tags.
		</span>
	</ng-template>
</ul>
