<app-sidebar>
	<!-- MAIN CONTAINER -->
	<div class="relative">
		<!-- HEADER -->
		<div class="h-fit sticky top-0 z-40 bg-base-200">
			<app-header />
		</div>

		<!-- PHONE DASHBOARD -->
		<div class="flex flex-col 2xl:flex-row">
			<h1
				class="text-2xl font-bold p-4 sticky top-[64px] z-50 bg-base-200 2xl:hidden">
				All Notes
			</h1>
			<div
				class="relative 2xl:w-[290px] 2xl:before:fixed 2xl:before:w-[290px] 2xl:before:h-full 2xl:before:bg-base-200 2xl:before:border-r 2xl:before:border-base-content">
				<app-sidebar-notes />
			</div>

			<!-- NOTE CONTENT -->
			<textarea
				class="hidden 2xl:block 2xl:flex-grow textarea textarea-ghost rounded-none resize-none focus:outline-none"></textarea>

			<!-- SIDEBAR ACTIONS -->
			<app-sidebar-actions />
		</div>
	</div>
</app-sidebar>
