<div class="flex flex-col" *ngIf="noteSelected$ | async as noteDetails">
	<div class="sticky top-0 overflow-x-hidden">
		<app-header-control page-nav />
	</div>

	<div class="flex flex-col px-4">
		<h1 class="text-2xl font-bold py-4">{{ noteDetails.title }}</h1>

		<ul class="flex flex-col gap-2 text-sm">
			<li class="flex items-center text-base-content">
				<div class="flex items-center w-[35%] gap-[6px]">
					<app-icon-tag width="16px" height="16px" />
					Tags
				</div>

				<span class="flex-grow">
					<ng-container *ngFor="let tag of noteDetails.tags">
						{{ tag.name }}
					</ng-container>
				</span>
			</li>
			<li class="flex items-center text-base-content">
				<div class="flex items-center w-[35%] gap-[6px]">
					<app-icon-clock width="16px" height="16px" />

					Last edited
				</div>

				<span class="flex-grow">
					{{ noteDetails.updated_at | date }}
				</span>
			</li>
		</ul>

		<div class="divider"></div>
	</div>

	<textarea
		class="flex-grow textarea border-none focus:outline-none resize-none w-full rounded-none"
		[value]="noteDetails.content">
	</textarea>
</div>
